@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;600&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
}


/*header-barra de navegacion*/

.header{
    width: 100%;
    height: 80px;
    padding: 1rem;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background:rgba(0, 0, 0, 0.4 );
    box-shadow: rgba(250, 250, 247, 0.8) 0px 5px 15px;
}

.header h2{
    font-size: 3rem;
    color: azure;
    transition: ease-in-out .3s;
}
.header h2:hover{
    cursor: pointer;
    text-shadow: rgba(245, 245, 245, 0.842) 2px 2px 10px ;
}

.navbar{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.list-navbar{
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
}
.list-navbar a{
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(179, 179, 179);
    transition: ease-in-out .3s;
}
.list-navbar li{
    transition: ease-in-out .3s;
}
.list-navbar li:hover{
    transform: scale(1.2);
}
.list-navbar a:hover{
    color: white;
    text-shadow: rgba(245, 245, 245, 0.979) 2px 2px 10px ;
}
/*main*/

.inicio{
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 100vh;
    background:url(/css/imagenes/laboratorio.jpg);
    background-size: cover;
    background-attachment:fixed;
    overflow: hidden;
    
}
.presentacion{
    width: 20%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    padding: 2%;
    border-radius: 15px;
    background:rgba(0, 0, 0, 0.6);
    box-shadow: rgba(0, 0, 0, 0.842)5px 10px 15px;
    transition: ease-in-out .3s;
}
.presentacion:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.presentacion h1{
    color: rgb(255, 255, 255);
    text-shadow: rgba(245, 245, 245, 0.842)1px 1px 10px;
    font-weight: 600;
    font-size: 2rem;
}
.presentacion p{
    color: aliceblue;
    font-size: 1.2rem;
}
.presentacion a{
    padding: 5px 10px;
    border-radius: 15px;
    width: 100%;
    color: black;
    text-decoration: none;
    font-weight: 600;
    transition: ease-in-out .3s;
}
.btn-primary{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 50%;
    margin: 10%;
    background-color: rgb(107, 107, 107);
    transition: ease-in-out .3s;
}
.presentacion a:hover{
    color: aliceblue;
}
.btn-primary:hover{
    transform: scale(1.2);
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    border: 2px solid;
    border-color: rgb(0, 171, 201);
    box-shadow: rgba(10, 133, 190, 0.842) 4px 4px 10px;
}
.beneficios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    width: 20%;
    height: 30%;
    border-radius: 15px;
    background:rgba(0, 0, 0, 0.6);
    box-shadow: rgba(0, 0, 0, 0.842)5px 10px 15px;
    transition: ease-in-out .3s;
}
.beneficios:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.beneficios h2{
    font-size: 1.6rem;
    color: rgb(250, 250, 250);
    font-weight: 600;
    text-shadow: rgba(245, 245, 245, 0.842)1px 1px 10px;
}
.beneficios li{
    color: aliceblue;
}

.productos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.cursos-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 80%;
    
}

.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2%;
    width: 20%;
    height: 30vh;
    border-radius: 20px;
    box-shadow: rgba(245, 245, 245, 0.842) 1px 1px 3px;
    color: aliceblue;
    background-color: #000428;
    transition: ease-in-out .3s;
}

.card:hover{
    transform: scale(1.2);
    box-shadow: rgba(245, 245, 245, 0.842) 5px 5px 10px;
    cursor: pointer;
}

.card h3{
    font-size: 1.3rem;
    margin: 10px;
    text-shadow: rgba(245, 245, 245, 0.979) 1px 1px 6px;
}

.contact{
    width: 100%;
    height: 50vh;
    padding: 0;
    margin: 0%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #004e92, #000428);
}
.contact h2{
    font-size: 1.5rem;
    color: aliceblue;
}
.contenedor-iconos{
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    flex-wrap: wrap;
    width: 100%;
    gap:100px;
    translate: (-50% , -50%);
}

.icono i{
    display: flex;
    font-size: 5rem;
    transition: ease-in-out .5s;

}
.icono a{
    text-decoration: none;
    color: #5c5a5a;
    transition: ease-in-out .5s;

}
.icono{
    display: flex;   
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #000000;
    transition: ease-in-out .5s;
    border-radius: 100%;
    border: 3px solid;
}

.icono:hover:nth-child(1){
    background: #540479;
    box-shadow: rgba(216, 8, 216, 0.884)5px 5px 15px;
    transform: scale(1.2);
    border: 6px solid;
    border-color: #bb06e9;
    overflow: hidden;
}
.icono:hover:nth-child(2){
    background: #0b7e07;
    box-shadow: rgba(17, 201, 26, 0.884)5px 5px 15px;
    border: 6px solid;
    border-color: #16c410;
    overflow: hidden;
    transform: scale(1.2);

}
.icono:hover:nth-child(3){
    background: #052680;
    box-shadow: rgba(5, 21, 243, 0.884)5px 5px 15px;
    border: 6px solid;
    border-color: #1257bd;
    overflow: hidden;
    transform: scale(1.2);

}
.icono:hover:nth-child(4){
    background: #970d0d;
    box-shadow: rgba(192, 103, 103, 0.884)5px 5px 15px;
    border: 6px solid;
    border-color: #c41010;
    overflow: hidden;
    transform: scale(1.2);

}
.icono a:hover{
    transform: scale(1.2);
    color: azure;
}
